.navbaree {
    font-family: 'Times New Roman', Times, serif;
}

.navbaree {
    font-family: 'Times New Roman', Times, serif;


}

.name {
    font-family: 'Times New Roman', Times, serif;
    font: bold;
    color: white;
}

#sentance {
    font-size: 50px;
    font-weight: bolder;
    color: aqua;
    font-size: 300%;
    text-align: center;
}

#sentancetwo {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: end;
    font-size: medium;
}

#sentancethree {
    color: white;
    text-align: end;
}

#sentancefour {
    text-align: center;
    color: black;
}

.card {
    align-items: center;
    background-color: blue;
    border-width: thick;
    border-color: white;

}

#sentancefive {

    font-weight: bolder;
    color: white;
    font-size: 400%;
    text-align: center;
}

#six {

    font-weight: bolder;
    color: white;
    font-size: 400%;
    text-align: center;
}


.about {
    color: white;
    background-color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.projects {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    background-color: black;
    color: white;
}

#card-body {
    background-color: black;
}


.pic {
    width: 70%;
    align-items: center;
}


.hero {
    width: 100%;
    min-height: 30vh;
    background: #000;
    background-size: cover;
    position: relative;
    padding: 140px 0 60px 0;

}

.hero p {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 30px;
    font-size: 18px;
}

.hero h2 {
    margin: 0 0 10px 0;
    font-size: 38px;
    font-weight: 700;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

.hero .btn-get-started {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s;
    color: #fff;
    background: #509b7e;
    text-decoration: none;
}

.hero .btn-get-started:hover {
    background: #2cbc85;
}

#btn {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s;
    color: #fff;
    background: #509b7e;
    text-decoration: none;

}

#btn:hover {
    background: #2cbc85;
}

#btn-contact {
    background: #509b7e;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: white;

}

#btn-contact:hover {
    background: #2cbc85;

}

.h4 {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Times New Roman', Times, serif;
}

.p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}




.chat-bar-collapsible {
    position: fixed;
    bottom: 0;
    right: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.collapsible {
    background-color: #509b7e;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 350px;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius: 10px 10px 0px 0px;
    border: 3px solid #000;
    border-bottom: none;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.full-chat-block {
    width: 350px;
    background:#000 ;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    height: 400px;
    transition: max-height 0.2s ease-out;
}

.outer-container {
    min-height: 400px;
    bottom: 0%;
    position: relative;
}

.chat-container {
    max-height: 400px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
}

.chat-container::-webkit-scrollbar {
    display: none;
}

.chat-bar-input-block {
    display: flex;
    float: left;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color:#509b7e;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px 10px 10px;
}

.chat-bar-icons {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 25%;
    float: right;
    font-size: 20px;
}

#chat-icon:hover {
    opacity: .7;
}

/* Chat bubbles */

#userInput {
    width: 75%;
}

.input-box {
    float: left;
    border: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    background-color: white;
    outline: none
}

.userText {
    color: white;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    clear: both;
}

.userText span {
    line-height: 1.5em;
    display: inline-block;
    background: #5ca6fa;
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 10px;
    animation: floatup .5s forwards
}

.botText {
    color: #000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
}

.botText span {
    line-height: 1.5em;
    display: inline-block;
    background: #2cbc85;
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    animation: floatup .5s forwards
}

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width:600px) {
    .full-chat-block {
        width: 100%;
        border-radius: 0px;
    }
    .chat-bar-collapsible {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .collapsible {
        width: 100%;
        border: 0px;
        border-top: 3px solid white;
        border-radius: 0px;
    }
}